{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    DubaiBy | {{ object.title }}
{% endblock %}

{% block title_secondary %}
    {{ object.title }}
{% endblock %}

{% block main %}
    <!--begin::Wrapper container-->
    <div class="app-container container-xxl">
        <!--begin::اصلی-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">
                <!--begin::Content-->
                <div id="kt_app_content" class="app-content flex-column-fluid">
                    <!--begin::Row-->
                    <div class="row g-5 g-xl-8">
                        <!--begin::Col-->
                        <div class="col-xl-12 ps-xl-12">
                            <div class="card mb-6 mb-xl-9">
                                <div class="card-body pt-9 pb-0">
                                    <!--begin::Details-->
                                    <div class="d-flex flex-wrap flex-sm-nowrap mb-6" id="ht_header">
                                        <!--begin::Image-->
                                        <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-150px h-150px w-lg-200px h-lg-200px me-7 mb-4">
                                            <img class="w-100 h-100 rounded"
                                                 src="{{ tour.image.url }}" alt="image">
                                        </div>
                                        <!--end::Image-->
                                        <!--begin::Wrapper-->
                                        <div class="flex-grow-1">
                                            <!--begin::Head-->
                                            <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                                <!--begin::Details-->
                                                <div class="d-flex flex-column">
                                                    <!--begin::وضعیت-->
                                                    <div class="d-flex align-items-center mb-1">
                                                        <a href="#"
                                                           class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">{{ tour.title }}</a>
                                                        <span class="badge badge-light-warning me-auto">
                                                            <i class="fas fa-star text-warning"></i> {{ tour.categories.first.name }}
                                                        </span>
                                                    </div>
                                                    <!--end::وضعیت-->
                                                    <!--begin::Info-->
                                                    <div class="d-flex flex-wrap justify-content-start my-3">
                                                        <!--begin::Stats-->
                                                        <div class="d-flex flex-wrap">
                                                            <!--begin::Stat-->
                                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                                <!--begin::شماره کارت-->
                                                                <div class="d-flex align-items-center">
                                                                    <div class="fs-7 fw-bold">
                                                                        {{ tour.start_time.date }}
                                                                    </div>
                                                                </div>
                                                                <!--end::شماره کارت-->
                                                                <!--begin::Tags-->
                                                                <div class="fw-semibold fs-7 text-gray-500">از تاریخ
                                                                </div>
                                                                <!--end::Tags-->
                                                            </div>
                                                            <!--end::Stat-->
                                                            <!--begin::Stat-->
                                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                                <!--begin::شماره کارت-->
                                                                <div class="d-flex align-items-center">
                                                                    <div class="fs-7 fw-bold counted">{{ tour.end_time.date }}
                                                                    </div>
                                                                </div>
                                                                <!--end::شماره کارت-->
                                                                <!--begin::Tags-->
                                                                <div class="fw-semibold fs-7 text-gray-500">تا تاریخ
                                                                </div>
                                                                <!--end::Tags-->
                                                            </div>
                                                            <!--end::Stat-->
                                                            <!--begin::Stat-->
                                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                                <!--begin::شماره کارت-->
                                                                <div class="d-flex align-items-center">
                                                                    <div class="fs-7 fw-bold counted">
                                                                        {{ tour.price_per_person|intcomma:False }}{{ tour.currency }}
                                                                    </div>
                                                                </div>
                                                                <!--end::شماره کارت-->
                                                                <!--begin::Tags-->
                                                                <div class="fw-semibold fs-7 text-gray-500">قیمت هر نفر
                                                                </div>
                                                                <!--end::Tags-->
                                                            </div>
                                                            <!--end::Stat-->
                                                        </div>
                                                        <!--end::Stats-->
                                                    </div>
                                                    <!--end::Info-->
                                                    <!--begin::توضیحات-->
                                                    <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-500">
                                                        {{ tour.summary|safe }}
                                                    </div>
                                                    <!--end::توضیحات-->
                                                </div>
                                                <!--end::Details-->
                                            </div>
                                            <!--end::Head-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Details-->
                                    <div class="separator"></div>
                                    <!--begin::Nav-->
                                    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-7 fs-md-5 fw-bold">
                                        <!--begin::Nav item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary py-5 me-6 active"
                                               href="#ht_header">اطلاعات هتل</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary py-5 me-6"
                                               href="#ht_ai">مشاوره هوشمند</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary py-5 me-6"
                                               href="#ht_plan">برنامه سفر</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary py-5 me-6"
                                               href="#ht_reserve">رزرو</a>
                                        </li>
                                        <!--end::Nav item-->
                                        <!--begin::Nav item-->
                                        <li class="nav-item">
                                            <a class="nav-link text-active-primary py-5 me-6"
                                               href="#ht_description">توضیحات</a>
                                        </li>
                                        <!--end::Nav item-->
                                    </ul>
                                    <!--end::Nav-->
                                </div>
                            </div>

                            <div id="ht_ai" class="row g-5 g-xl-10 mb-5 mb-xl-10">
                                <!--begin::Col-->
                                <div class="col-xxl-12">
                                    <!--begin::Engage widget 8-->
                                    <div class="card border-0 h-md-100" data-bs-theme="light"
                                         style="background: linear-gradient(112.14deg, #3B2A38 0%, #7a6075 100%)">
                                        <!--begin::Body-->
                                        <div class="card-body">
                                            <!--begin::Row-->
                                            <div class="row align-items-center h-100">
                                                <!--begin::Col-->
                                                <div class="col-7 ps-xl-13">
                                                    <!--begin::Title-->
                                                    <div class="text-white mb-6 pt-6">
                                                        <span class="fs-2 fw-bold">دستیار هوشمند سفر</span>
                                                    </div>
                                                    <!--end::Title-->
                                                    <!--begin::Text-->
                                                    <span
                                                            class="fw-semibold text-white fs-6 mb-8 d-block opacity-75">برای سفر به یاد موندنی برنامتو هوشمند بچین</span>
                                                    <!--end::Text-->
                                                    <!--begin::Actions-->
                                                    <div class="d-flex flex-column flex-sm-row d-grid gap-2">
                                                        <a href="#" class="btn btn-facebook flex-shrink-0">دستیار هوشمند
                                                            سفر</a>
                                                    </div>
                                                    <!--end::Actions-->
                                                </div>
                                                <!--end::Col-->
                                                <!--begin::Col-->
                                                <div class="col-5 pt-10">
                                                    <!--begin::Illustration-->
                                                    <div class="bgi-no-repeat bgi-size-contain bgi-position-x-end h-225px"
                                                         style="background-image:url({% static 'site/media/svg/illustrations/easy/5.svg' %})">
                                                    </div>
                                                    <!--end::Illustration-->
                                                </div>
                                                <!--end::Col-->
                                            </div>
                                            <!--end::Row-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Engage widget 8-->
                                </div>
                                <!--end::Col-->
                            </div>

                            {% if tour.tour_days.exists %}
                                <div id="ht_rooms" class="row">
                                    <div class="col-xl-12 mb-xl-10">
                                        <!--begin::لیست widget 17-->
                                        <div class="card card-flush h-xl-100">
                                            <!--begin::Header-->
                                            <div class="card-header pt-7">
                                                <!--begin::Title-->
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label fw-bold text-gray-800 fs-2">برنامه روز های تور</span>
                                                    <!-- <span class="text-gray-500 mt-1 fw-semibold fs-6">8 هزار
                                                        بازدید اجتماعی</span> -->
                                                </h3>
                                                <!--end::Title-->
                                            </div>
                                            <div class="separator separator-dashed my-4"></div>
                                            <!--end::Header-->
                                            <!--begin::Body-->
                                            <div class="card-body pt-0">
                                                <div class="col-md-12 pe-md-10 mb-10 mb-md-0">
                                                    {% for p in tour.tour_days.all %}
                                                        <div class="m-0">
                                                            <!--begin::Heading-->
                                                            <div class="d-flex align-items-center collapsible py-3 toggle {% if not forloop.counter == 1 %}collabsed{% endif %} mb-0"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#kt_job_4_{{ forloop.counter }}">
                                                                <!--begin::Icon-->
                                                                <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
                                                                    <i class="ki-outline ki-minus-square toggle-on text-primary fs-1"></i>
                                                                    <i class="ki-outline ki-plus-square toggle-off fs-1"></i>
                                                                </div>
                                                                <!--end::Icon-->
                                                                <!--begin::Title-->
                                                                <h4 class="text-gray-700 fw-bold cursor-pointer mb-0">{{ p.day }}</h4>
                                                                <!--end::Title-->
                                                            </div>
                                                            <!--end::Heading-->
                                                            <!--begin::Body-->
                                                            <div id="kt_job_4_{{ forloop.counter }}"
                                                                 class="collapse {% if forloop.counter == 1 %}show{% endif %} fs-6 ms-1">
                                                                <!--begin::Text-->
                                                                <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                                    {{ p.summary }}
                                                                </div>
                                                                <!--end::Text-->
                                                            </div>
                                                            <!--end::Content-->
                                                            <!--begin::separator-->
                                                            <div class="separator separator-dashed"></div>
                                                            <!--end::separator-->
                                                        </div>
                                                    {% endfor %}

                                                    <!--end::Section-->
                                                </div>
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::لیست widget 17-->
                                    </div>
                                </div>
                            {% endif %}

                            <div id="ht_description">
                                <div class="bg-secondary p-5 rounded card">
                                    <p class="fw-semibold fs-6">
                                        {{ tour.description|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Content wrapper-->
            <!--begin::Footer-->
            <div id="kt_app_footer"
                 class="app-footer d-flex flex-column flex-md-row align-items-center flex-center flex-md-stack py-2 py-lg-4">
                <!--begin::کپیright-->
                <div class="text-gray-900 order-2 order-md-1">
                    <span class="text-muted fw-semibold me-1">2024&copy;</span>
                    <a href="https://keenthemes.com" target="_blank"
                       class="text-gray-800 text-hover-primary">ساتراس وب</a>
                </div>
                <!--end::کپیright-->
                <!--begin::Menu-->
                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                    <li class="menu-item">
                        <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">درباره ی
                            ما</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://rtl-theme.com" target="_blank" class="menu-link px-2">پشتیبانی</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://www.rtl-theme.com/metronic-admin-html-template/" target="_blank"
                           class="menu-link px-2">خرید</a>
                    </li>
                </ul>
                <!--end::Menu-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end:::اصلی-->
    </div>
    <!--end::Wrapper container-->
{% endblock %}