.intro {
    position: relative;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 0.8rem;
}

.intro video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    z-index: 2;
    color: #fff;
}

.input-container {
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.input-container input {
    width: 100%;
    padding: 1.25rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container button {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    background-color: #E2B714;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Tinted overlay */
    z-index: 2;
}

.input-container button:hover {
    background-color: #d4a410;
}

.badge-container {
    margin-top: 1.5rem;
    z-index: 2;
}

.badge-container .badge {
    background-color: #FBECBB;
    color: #412f2c99;
    margin: 0.25rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.badge-container .badge:hover {
    transform: scale(1.1);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: #fff;
}

.header img {
    height: 90px;
}

.header .menu {
    font-size: 1.5rem;
    cursor: pointer;
}

.header {
    color: #E2B714;
}

.chat-box {
    min-height: 100vh;
    padding: 1.8rem 0 0 0;
}

.chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.chat-message {
    margin-bottom: 15px;
    max-width: 75%;
    padding: 10px 15px;
    border-radius: 10px;
    word-wrap: break-word;
}

.user-message {
    background-color: #a5a5a5;
    color: #ffffff;
    align-self: flex-end;
}

.bot-message {
    background-color: #fbecbb;
    color: #000000;
    align-self: flex-start;
}

.chat-input {
    margin-top: 15px;
    position: fixed;
    bottom: 5px;
    right: 0;
    padding: 0 1rem;
}

.chat-input button {
    background-color: #E2B714;
    border-color: #E2B714;
}

.chat-input button:hover {
    background-color: #E2B714;
    border-color: #E2B714;
}

.chat-message h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
}

.chat-message p {
    color: #000;
}

#dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

#dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}

#dropdown a:hover {
    background-color: #f1f1f1;
}

#dropdown a:last-child {
    border-bottom: none;
}

@media (max-width: 576px) {
    .intro h1 {
        font-size: 1.4rem;
    }

    .input-container input{
        padding: 1rem;
    }
}